.Container {
	display: grid;
	grid-template-rows: [row] 200px [row] auto [row] auto [row] 100px;
	grid-template-columns: [col] auto;
	grid-gap: 20px;
	background-color: black;
	padding: 20px;
	color: #fff;
}

.box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
}

.Banner {
	background-image: url("banner.jpg");
	background-color: #666666;
	grid-area: 1 / 1 / span 1 / span 1;
}

.Navigation {
	grid-area: 2 / 1 / span 1 / span 1;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 3fr 1fr;
	grid-gap: 20px;
}

.PageContent {
	display: grid;
		background-color: rgb(100,100,100);
	grid-template-rows: [row] auto;
	grid-template-columns: [row] 3fr [col] 1fr;
	grid-area: 3 / 1 / span 1 / span 1;
		grid-gap: 20px;
}

.Sidebar {
	grid-area: 1 / 2 / span 1 / span 1;
	grid-template-rows: auto 30px auto;
	display: grid;
}

.NavMenu {
	grid-area: 1 / 1 / span 1 / span 1;
	background-color: rgb(100,100,255);
}

.NavSearch {
	grid-area: 1 / 2 / span 1 / span 1;
	background-color: rgb(255,100,255);
}


.MainSection {
	background-color: red;
	grid-area: 1 / 1 / span 1 / span 1;
}

.FavoriteTags {
	background-color: yellow;
	grid-area: 1 / 2 / span 1/ span 1;
}

.History {
	background-color: pink;
	grid-area: 3 / 2 / span 1/ span 1;
}

.Footer {
		grid-area: 4 / 1 / span 1 / span 1;
}